@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


header {
    font-size: 500%;
    text-align: center;
    background-color: #7b8da0;
}

body {
    font-family: 'Bebas Neue', cursive;
    font-size: smaller;
    background-color: oldlace;
}

#character-selection {
    width: 800px;
    height: 200px;
    margin: 20px auto;
    text-align: center;
    font-size: x-large;
}

.character {
    width: 140px;
    height: 140px;
    vertical-align: top;
    display: inline-block;
}

div.character img {
    width: 100px;
    height: auto;
}

.winner {
    margin: 0;
    padding: 0;
    line-height: 30px;
    height: 50px;
    text-align: center;
    display: none;
    font-size: 400%;
}

.wrapper {
    width: 950px;
    margin: 0 auto;
}

.boardcontainer {
    width: 650px;
    height: auto;
    margin: 20px auto;
    display: inline-block;
    vertical-align: top;
}

.board {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    border: 0.75em solid #7b8da0;
    border-radius: 2em;
    display: grid;
    grid-template: repeat(3, 1fr)/repeat(3, 1fr);
}

.tile {
    display: flex;
    align-items: center;
    border: 0.5em solid #7b8da0;
}

.sidepanel {
    height: auto;
    display: inline-block;
    text-align: center;
    font-size: 200%;
    vertical-align: top;
    margin: 10px;
}

.sideCharacter {
    width: 100px;
    height: 150px;
    display: inline-block;
}

#scoreboard img {
    width: 35px;
    height: auto;
    display: inline-block;
}

#p3 {
    width: 100px;
}

.button-54 {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    text-decoration: none;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-54:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

@media (min-width: 768px) {
    .button-54 {
        padding: 0.25em 0.75em;
    }
}

.player {
    width: 150px;
    height: 215px;
    display: block;
    margin-top: 0;
}

.player img {
    width: 70px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cross {
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
}

.circle {
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
}

.whale {
    background-image: url(../images/whale.png);
}

.panda {
    background-image: url(../images/panda.png);
}

.frog {
    background-image: url(../images/frog.png);
}

.elephant {
    background-image: url(../images/elephant.png);
}

.octopus {
    background-image: url(../images/octopus.png);
}

img {
    width: 200px;
    height: auto;
}

.hide {
    display: none;
}